* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'monsterrat';
    src: url(../fonts/Montserrat.ttf);
}

a {
    color: var(--white);
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

:root {
    --dark : #140c2d;
    --white : #fff;
    --pink-grad : #FA26CA;
    --bg-color : #f1f3f6;
    --grey : #454b57;
    --light-grey : #8996ae; 
    --yell-grad : linear-gradient(76deg,#fec900,#ffd026); 
    --faint-white : #ddd6ed; 
}

@font-face {
    font-family: 'normal';
    src: url(../fonts/normal.ttf);
}

body {
    background-color: var(--bg-color);
    font-family: 'normal';
}

header {
    font-family: 'monsterrat';
}

/* .header-top .logo-content {
    border-radius: 32px;
    height: 40px;
    position: relative;
}

.flex-1 {
    flex: 1 1;
}

.svg-i {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 14px;
    width: 14px;
}

.svg-i.logo-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/Logo-market.bfb2d5515eb6a619f7c2.svg);
    height: 40px;
    width: 150px;
}

.header-top .logo-content>div:nth-child(2) {
    width: 100%;
}

.border-rgba-blue-gray-30 {
    border-color: rgba(137,150,174,.3)!important;
}

.border {
    border: 1px solid #dee2e6!important;
}

div {
    display: block;
}

.header-top .logo-content .search-form {
    height: 40px;
}

.header-top .logo-content .search-block {
    background-color: #fff;
    border-radius: 12px;
}

.img-upload {
    border-radius: 50%;
    height: 32px;
    position: absolute;
    right: 62px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
}

.img-upload:before {
    background-color: rgba(137,150,174,.25);
    border-radius: 2px;
    content: "";
    height: 24px;
    position: absolute;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
}

.img-upload:after {
    background-image: url(https://www.mymarket.ge/react/build/static/media/search-opload.c282b9341280a94a532c.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
    z-index: -1;
}

.img-upload:hover {
    background-color: #f1f3f6;
}

.header-top .logo-content input {
    border-radius: 12px;
    font-family: TBCXBold;
    font-size: 13px;
    outline: none;
    padding: 14px 16px;
}

.header-top .logo-content .search-icon {
    background-color: transparent;
    height: 32px;
    right: 12px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    transition: .2s ease-in-out;
    width: 32px;
}

.header-top .logo-content .search-icon:hover {
    background-color: #f1f3f6;
}

.svg-i.search-i-mobile {
    background-image: url(https://www.mymarket.ge/react/build/static/media/search-icon-mobile.667eeda4e0e278eee1b3.svg);
}

.resp-block .svg-i.search-i-mobile {
    width: 30px;
    height: 30px;
}

.navbar-nav .add-statement-btn {
    background-color: #fff4cc;
    border-radius: 12px;
    height: 40px;
    justify-content: center;
    line-height: 17px;
    max-width: 130px;
    padding: 0 24px;
}

.svg-i.svg-i-sm {
    height: 16px;
    width: 16px;
}

.svg-i.add-statement-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/add-statement.08bc40970e93527a7d81.svg);
}

.mr-8px, .mx-8px {
    margin-right: 8px!important;
}

.flex-shrink {
    flex-shrink: 0;
}


.ml-8px, .mx-8px {
    margin-left: 8px!important;
}

.cursor-pointer {
    cursor: pointer;
}

.notification-box .nav-item {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.notification-box .nav-item:hover {
    background-color: #f1f3f6;
}

.navbar-nav .nav-item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 12px;
}

.svg-i.message-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/message.52f23553e538e9c7edd8.svg);
}

.h-24px {
    height: 24px!important;
}

.w-24px {
    width: 24px!important;
}

.navbar-nav .nav-item a {
    border-radius: 50%;
    padding: 4px;
    transition: .3s;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.svg-i.favorites-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/favorites.2b63a48b7604ad9a4b10.svg);
}

.navbar-nav .nav-item a:hover {
    background-color: #f1f3f6;
}

.svg-i.cart-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/cart.1e94a8740770e92a2b3c.svg);
}

.h-40px {
    height: 40px!important;
}

.border-radius-sm {
    border-radius: 12px!important;
}

.svg-i.auth-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/auth.0af6a5be0b77202ba1ea.svg);
}

.text-dark {
    color: #272a37!important;
}

.font-size-14 {
    font-size: 14px!important;
}

.p-0 {
    padding: 0!important;
}

.bg-transparent {
    background-color: transparent!important;
}

.mr-10px, .mx-10px {
    margin-right: 10px!important;
}


.overflow-hidden {
    overflow: hidden!important;
}

.pb-16px, .py-16px {
    padding-bottom: 16px!important;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 0;
}

.header-swiper .swiper-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
    z-index: 0;
}

.swiper-backface-hidden .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
}

.mr-32px, .mx-32px {
    margin-right: 32px!important;
}

.w-auto {
    width: auto!important;
}

.position-relative {
    position: relative!important;
}

.d-none {
    display: none!important;
}

.header-swiper-hover a {
    transition: .3s ease-in-out;
}

.font-size-14 {
    font-size: 14px!important;
}

.text-decoration-none {
    text-decoration: none!important;
}


.text-nowrap {
    white-space: nowrap!important;
}

.pb-8px, .py-8px {
    padding-bottom: 8px!important;
}

.pt-8px, .py-8px {
    padding-top: 8px!important;
}

.header-swiper-hover a {
    transition: .3s ease-in-out;
    display: inline-block;
}

.mr-28px, .mx-28px {
    margin-right: 28px!important;
}

.w-60 {
    width: 60%;
    margin-left: 20px;
}

.header-top-content {
    padding-top: 20px;
    background-color: var(--white);
}

.pl-12px, .px-12px {
    display: inline-block;
    padding-left: 12px!important;
}

.resp-block {
    display: none;
}

.position-fixed {
    position: fixed!important;
}

.bottom-0 {
    bottom: 0!important;
}

.right-0 {
    right: 0!important;
}

.left-0 {
    left: 0!important;
}

.h-70px {
    height: 70px!important;
}

.z-index-999 {
    z-index: 99999!important;
}

.pl-16px, .px-16px {
    padding-left: 16px!important;
}

.pr-16px, .px-16px {
    padding-right: 16px!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.bottom-bar.active {
    position: relative;
}

.w-76px {
    width: 76px!important;
}

.bottom-bar.active:before {
    background-color: #f9d147;
    border-radius: 100%;
    bottom: -8px;
    content: "";
    height: 4px;
    position: absolute;
    width: 4px;
}

.w-basis-24 {
    flex: 0 0 24%!important;
    width: 24%!important;
}

.max-height-24px {
    max-height: 24px!important;
}

.h-24px {
    height: 24px!important;
}

.mb-6px, .my-6px {
    margin-bottom: 6px!important;
}

.font-size-10 {
    font-size: 10px!important;
}

.text-dark {
    color: #272a37!important;
}

.svg-i.active-home-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/active-home-icon.1c0b4a85b82e0cc3e1d0.svg);
}

.svg-i.category-icon-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/category-icon.84b61d426e6849a336c5.svg);
}

.svg-i.add-icon-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/add-icon.a1fe437a0ad7b59d68cf.svg);
}

.svg-i.cart-icon-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/cart-icon.2cced7a04f0eb484a407.svg);
}

.svg-i.svg-i-xlg {
    height: 40px;
    width: 40px;
}

.svg-i.user-male-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/user-male.b9c3480efd72f3ab76d9.svg);
}






.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--white);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--dark);
  cursor: pointer;
  background: var(--yell-grad);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}

.wrapper ul li a {
    color: var(--dark);
    text-decoration: none;
}

.wrapper ul li {
    margin-bottom: 10px;
    width: 100%;
}

.wrapper ul {
    padding: 20px;
    list-style: none;
    border-bottom: 1px solid #00000033;
    width: 40%;
}

.wrapper h6 {
    padding: 20px;
    font-size: 20px;
    color: var(--light-grey);
}

input[type="checkbox"]{
  display: none;
}

.language-content {
    padding: 20px;
}

.language-content li {
    display: inline-block;
}

.language-content li button {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--white);
    border: 1px solid #00000033;
    border-radius: 10px;
}










@media (min-width: 1200px) {
.d-lg-flex {
    display: flex!important;
    }
}

.hide-header {
    display: none;
}

.resp-none  {
    margin-top: 10px;
} */




.sidebar-crsl {
    margin: 30px 0;
}

.sidebar-crsl .sidebar {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 15px;
    height: 545px;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.sidebar::-webkit-scrollbar-thumb {
    background: #bebbbb; 
    border-radius: 20px
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
}

.sidebar-crsl .sidebar .sidebar-menu {
    list-style: none;
    position: relative;
}

.sidebar-menu .sidebar-list {
    width: 100%;
    transition: .5s;
    padding: 10px;
    position: relative;
}

.sidebar-menu .sidebar-list:hover {
    background-color: #8996ae30;
    padding: 10px;
    border-radius: 15px;

}

.sidebar-menu .sidebar-list .sidebar-title {
    display: inline-block;
    color: var(--light-grey);
    text-decoration: none;
    font-size: 13px;
    transition: .5s;
}

.sidebar-menu .sidebar-list .sidebar-title:hover {
    color: var(--grey);
}

.sidebar-menu .sidebar-list .sidebar-title span {
    padding-right: 10px;
}

.sidebar-menu .sidebar-list .arr {
    background-image: url(https://www.mymarket.ge/react/build/static/media/maincat-arr.9cb961f86817967d7da9.svg);
    height: 16px;
    width: 16px;
    display: inline-block;
    float: right;
    margin-top: 5px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

.sidebar-menu .sidebar-list:hover .arr {
    opacity: 1;
}

.sidebar-window {
    background-color: var(--white);
    width: 69%;
    border-radius: 7px;
    padding: 15px;
    overflow-y: scroll;
    height: 545px;
    display: none;
}

.sidebar-window::-webkit-scrollbar {
    width: 5px;
}

.sidebar-window::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.sidebar-window::-webkit-scrollbar-thumb {
    background: #bebbbb; 
    border-radius: 20px
}

.sidebar-window::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
}

.sidebar-header h2 a {
    font-size: 20px;
    color: var(--dark);
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

.sidebar-header h2 a:hover {
    color: #4a6cfa;
}

.a-tags {
    margin-bottom: 25px;
}

.a-tags a {
    text-decoration: none;
    color: var(--grey);
    display: block;
    font-size: 13px;
    margin-bottom: 7px;
    transition: .3s;
}

.a-tags a:hover {
    color: #ffbb08;
}

.a-tags a.bold {
    font-weight: bold;
    color: var(--dark);
    transition: .3s;
}

.a-tags a.bold:hover {
    color: #ffbb08;
}


.carousel-area {
    background-color: var(--white);
    padding: 30px;
    margin-left: 50px;
    border-radius: 15px;
    width: 65%;
    display: block;
}

.carousel-control-prev {
    display: inline-block;  
    background-color: var(--faint-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}
.carousel-control-next {
    display: inline-block;  
    background-color: var(--faint-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-control-prev-icon {
    background-image: url(https://www.mymarket.ge/react/build/static/media/slider-left.7fd199a414f4bd8505a3.svg);
    height: 10px;
    width: 10px;
    top: 13px;
    right: 16px;
    position: absolute;
}

.carousel-control-next-icon {
    background-image: url(https://www.mymarket.ge/react/build/static/media/slider-right.3a05d29e8980711631ce.svg);
    height: 10px;
    width: 10px;
    top: 13px;
    left: 16px;
    position: absolute;
}

.crs-img {
    border-radius: 15px;
    height: 270px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
}

.below-pics {
    margin-top: 50px;
    background-color: #8996ae30;
    padding: 15px 30px;
    border-radius: 15px;
}

.below-pics h3 {
    font-size: 16px;
    font-weight: 900;
    margin: 10px 0;
}

.crsl-single-pic {
    padding-bottom: 10px;
    cursor: pointer;
}

.contin-search {
    margin-top: 70px;
}

.cont-srch-title h4 {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    margin-right: 30px;
}

.cont-srch-title a {
    display: inline-block;
    color: var(--dark);
    font-size: 10px;
    font-weight: 700;
    margin-right: 15px;
    background-color: var(--white);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.cont-srch-title .dark a {
    background-color: #8996ae30;
    transition: .5s;
}

.cont-srch-title .dark:hover a {
    background-color: var(--white);
    transition: .5s;
}

.search-cards {
    margin: 40px 10px;
}

.single-srch-card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.single-srch-card .srch-title h5 {
    font-size: 13px;
}

.srch-btn {
    border: none;
    border-radius: 50%;
}

.srch-btn span {
    background-image: url(https://www.mymarket.ge/react/build/static/media/sl-seacrh.f532d8c8114fcca4735a.svg);
    height: 40px;
    width: 40px;
}

.trade-in {
    margin: 50px 10px;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
}

.trade-info h5 {
    font-weight: 900;
    margin-bottom: 30px
}

.trade-info p {
    color: var(--grey);
    font-size: 13px;
}

.trade-info .begin {
    display: inline-block;
    color: white;
    background-color: #fec900;
    padding: 15px 20px;
    border-radius: 15px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;

}

.vip-card-bg {
    background-color: var(--white);
    padding: 20px 10px;
    border-radius: 20px;
    margin-top: 60px;
}

.vip-title {
    display: flex;
    align-items: center;
    
}

.vip-title .s-vip {
    color: var(--white);
    background-color: #fec900;
    font-size: 9px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 20px;   
}

.vip-title h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 700;
}

.vip-title a {
    color: #4a6cfa;
    text-decoration: underline;
    font-size: 10px;
    font-weight: 600;
    margin-top: 3px;
}

.vip-card-area {
    display: flex;
}

.single-vip2 {
    cursor: pointer;
}

.single-vip2 img {
    padding: 10px;
    border-radius: 20px;
}

.single-vip2 p a {
    color: var(--dark);
}

.single-vip2 p {
    font-size: 10px;
    font-weight: 800;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
}

.single-vip2 a:hover {
    color: #007aff;
}

.single-vip2 span {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    color: var(--light-grey);
    font-weight: 800;
}

.round-pics {
    margin-top: 50px;
    text-align: center;
}

.single-round img{
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
    transition: .5s;
    cursor: pointer;
}

.single-round img:hover {
    background-color: #fec900;
}

.single-round p {
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
}

.interesting {
    margin-top: 100px;
}

.int-area {
    margin-top: 30px;
}

.for-you-cards {
    margin-top: 50px;
}

.for-you {
    margin-top: 100px;
}

.book-img img {
    position: relative;
    border-radius: 20px;
}

.book-img .book-info {
    position: absolute;
    top: 50px;
    left: 70px;
    font-size: 30px;
    color: var(--white);
    font-weight: 900;
}

.single-book {
    display: flex;
    background-color: var(--white);
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

.single-book:hover {
    background-color: #8996ae30;
}

.single-book img{
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    height: 150px;
}

.book-content p a {
    color: var(--dark);
    font-size: 12px;
    font-weight: 700;
}

.book-content:hover p a {
    color: #007aff;
    font-size: 12px;
    font-weight: 700;
}

.text-content {
    width: 100%;
    text-align: center;
    padding: 47px 0;
}

.text-content .all {
    color: #007aff;
}

.shops {
    margin-top: 70px;
}

.shop-imgs {
    display: flex;
}

.single-img {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 118px;
    position: relative;
    transition: .5s ease-in-out;
    width: 118px;
    margin-right: 21px;
    text-align: center;
    margin-top: 30px;
}

.single-img::after {
    border: 2px solid #8996ae;
    border-radius: 50%;
    content: "";
    height: 130px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: .5s ease-in-out;
    width: 130px;
}

.single-img:hover::after {
    opacity: 1;
}

.single-img img {
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
    width: 100%;
    margin-bottom: 20px;
}

.single-img p {
    font-size: 12px;
    color: var(--light-greygrey);
    font-weight: 700;
}

.sales-area {
    margin-top: 100px;
    margin-bottom: 50px;
}

.sales-title h5 {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 30px;
}

.sale-img-area {
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.sale-img-area img {
    padding: 10px;
    border: 1px solid #8996ae36;
    border-radius: 15px;
    margin-bottom: 10px;
}

.sale-img .hover-info {
    align-items: center;
    background-color: rgba(39,42,55,.95);
    border-radius: 10px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    height: 96%;
    justify-content: center;
    left: 12px;
    opacity: 0;
    position: absolute;
    transform: translate3d(0,30%,0);
    transition: .3s ease-in-out;
    width: 85%;
    overflow: hidden;
}

.sale-img:hover .hover-info {
    opacity: 1;
    transform: translateZ(0);
    overflow: hidden;
}

.hover-info .green-hvr {
    color: #0ec604;
    font-weight: 900;
    font-size: 13px;
}

.hover-info .white-hvr {
    color: var(--white);
    font-weight: 900;
    font-size: 9px;
    text-decoration: line-through;
}

.sale-info .percent {
    color: var(--white);
    background-color: #0ec604;
    padding: 5px;
    font-size: 9px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 5px;
}

.sale-info .info-title {
    margin-top: 20px;
    font-size: 13px;
    margin-left: 10px;
}

.sale-info a {
    color: #007aff;
    text-decoration: underline;
    font-size: 10px;
    font-weight: 700;
}

.service {
    margin-top: 100px;
}

.service-area {
    margin-top: 30px;
}

.service-card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    margin-bottom: 50px;
}

.service-card img {
    border-radius: 15px;
    height: 96px;
    width: 96px;
    margin-right: 10px;
}

.service-info span {
    color: var(--light-grey);
    font-size: 10px;
}

.service-info h5 {
    color: var(--dark);
    font-size: 12px;
    margin-top: 5px;
}

.service-info small {
    color: var(--grey);
    font-weight: 900;
    font-size: 9px;
}

.how-to-buy {
    background-color: var(--white);
    padding: 50px 0;
    text-align: center;
}

.buy-title .buy-icon {
    background-image: url(https://www.mymarket.ge/react/build/static/media/how-buy.822281249e6b07eb60bb.svg);
    height: 25px;
    width: 25px;
    margin: 0 auto;
    display: block;
}

.buy-title h5 {
    margin: 20px 0;
    font-weight: 900;
    font-size: 16px;
}

.buy-process {
    display: flex;
    margin: 70px 50px;
}

.process-icon .i-market {
    background-image: url(https://www.mymarket.ge/react/build/static/media/market.3fb1fdedb13903c83881.svg);
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.process-icon .i-cart {
    background-image: url(https://www.mymarket.ge/react/build/static/media/cart-svg.9462cf6ab0e4b140ded6.svg);
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.process-icon .i-box {
    background-image: url(https://www.mymarket.ge/react/build/static/media/box.2a71d7c1452f294480bf.svg);
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.process-icon .i-home {
    background-image: url(https://www.mymarket.ge/react/build/static/media/house.bf81b3c02137b4ee6b82.svg);
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.process-info p {
    font-size: 10px;
    font-weight: 900;
    width: 60%;
    margin: 0 auto;
}





#vip-card-area {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch;
    align-items: center;
}


.vip-card-area .single-vip img.vip-pictures {
    height: 120px;
    width: 150px;
}

.vip-card-area .single-vip {
    cursor: pointer;
    min-width: 125px;
}

.vip-card-area .single-vip img {
    padding: 7px;
    border-radius: 15px;
}

.vip-card-area .single-vip p a {
    color: var(--dark);
    transition: .2s;
    text-decoration: none;
}

.vip-card-area .single-vip p {
    font-size: 10px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 20px;
}

.vip-card-area .single-vip a:hover {
    color: #007aff;
}

.vip-card-area .single-vip span {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    color: var(--light-grey);
    font-weight: 800;
}


#vip-card-area::-webkit-scrollbar {
    display: none; 
}



.round-pics {
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.single-round {
    flex: 0 0 auto;
    width: 160px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    width: 190px;
}




.int-area {
    white-space: nowrap; 
    overflow-x: auto;   
}

.int-area .single-vip2 {
    display: inline-block;
    vertical-align: top; 
    margin-right: 20px;  
}

.int-area .single-vip2 img.swipe-pics {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.int-area .swiper-container2 {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.int-area .swiper-slide2 {
    width: 300px; 
    margin: 0 10px;
    display: inline-block;
}





.shop-imgs {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    height: 215px;
}

#shop-img-area {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch;

}

#shop-img-area::-webkit-scrollbar {
    display: none; 
}

.single-img {
    flex: 0 0 auto;
    margin-right: 21px; 
    white-space: normal;
}


.below-pics {
    text-align: center;
}


.crsl-single-pic {
    text-align: center;
    overflow: hidden; 
}

img {
    max-width: 100%;
    height: auto;
}







/* .scroll-top {
    background-color: #fec900;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    scroll-behavior: smooth;
}

.cursor-pointer {
    cursor: pointer;
}

.scroll-top {
    transition: .3s ease-in-out;
}

.scroll-top:hover {
    background-color: #fec900;
}

.svg-i.scroll-top-i {
    background-image: url(https://mymarket.ge/react/build/static/media/scr-top.6c3f4fbdc1a9dd01f4e0.svg);
}

footer {
    background-color: var(--white);
}

.cards {
    display: flex;
    padding: 30px 70px;
    border-bottom: 1px solid #8996ae30;
    margin-bottom: 50px;
}

.card-area {
    display: flex;
}

.google-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/google-play.54759d299cfc21faf55e.svg);
    height: 28px;
    width: 93px;
    margin-right: 10px;
    cursor: pointer;
}

.apple-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/app-store.bdd8ef2bdc121a6c22eb.svg);
    height: 28px;
    width: 93px;
    margin-right: 10px;
    cursor: pointer;
}

.card-info p {
    width: 55%;
    font-size: 10px;
    color: var(--light-grey);
}

.footer-bar {
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.single-footer-menu .menu-title {
    font-size: 13px;
    font-weight: 900;
    margin: 20px 0;
}

.single-footer-menu ul {
    list-style: none;
}

.single-footer-menu ul li {
    margin-bottom: 10px;
    margin-right: 10px;
}

.single-footer-menu ul li a {
    color: var(--light-grey);
    text-decoration: none;
    font-size: 10px;
    transition: .5s;
}

.single-footer-menu ul li a:hover {
    color: var(--dark);
}

.single-footer-menu .social li {
    display: inline-block;   
    border-radius: 50%;
    background-color: #f1f3f6;
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.single-footer-menu .social li:hover {
    background-color: #8996ae;
}

.single-footer-menu .social li a {
    color: #272a37;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.mrg-top {
    margin-top: 60px;
}

.line {
    border-bottom: 1px solid #8996ae30;
    padding: 30px 0;
}

.policy-terms {
    display: flex;
    padding: 50px 0;
    align-items: center;

}

.single-term a {
    color: var(--light-grey);
    font-size: 10px;
    text-decoration: underline;
    margin-right: 20px;
    transition: .5s;
}

.single-term a:hover {
    color: var(--dark);
}


.drop-blue .drop-title {
    font-size: 14px;
    color: #4a6cfa;
    border: 1px solid #007aff;
    padding: 10px 15px;
    border-radius: 10px;
}

.flag img {
    display: inline-block;
    width: 23px;
    margin-bottom: 10px;
}

.lang-drop .dropdown-item {
    display: inline-block;
    width: 75%;
}

.drop-blue .dropdown-menu {
    border-radius: 10px;
    border-color: #4a6cfa;
    color: var(--light-grey);
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.partner-img {
    border: 1px solid #8996ae36;
    border-radius: 40px;
    padding: 0 10px;
}

.tnet-logo2 img {
    width: 150px;
    border-radius: 40px;
    cursor: pointer;
   
}

.partner-img span {
    margin-top: 10px;
    cursor: pointer;
}


.auto-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/auto.9ad7274a94cd0e26239de051b2fa166d.svg);
    width: 60px;
    height: 60px;
}

.part-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/parts.2298ef12c4e3e35d2f38ea2e28977b68.svg);
    width: 60px;
    height: 60px;
}

.home-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/home.690059415edc6e3717b901e82a5afcf2.svg);
    width: 60px;
    height: 60px;
}

.market-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/market.3fb1fdedb13903c83881a755f1ec7750.svg);
    width: 60px;
    height: 60px;
}

.super-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/supaerapp.a91bd855302ef674f2ca4b22463156bc.svg);
    width: 60px;
    height: 60px;
}

.shop-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/myshop.2ad1f54c791f0d7da12d13a8f5235519.svg);
    width: 60px;
    height: 60px;
}

.vendo-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/vendoo.aab4a9806dc83f949956544507d4847e.svg);
    width: 60px;
    height: 60px;
}

.tkt-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/tkt.fb3efa063ed1256d05b00928bfc18caf.svg);
    width: 60px;
    height: 60px;
}

.swoop-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/swoop.51ded7a43fa9805c8901dffbf6b5306a.svg);
    width: 60px;
    height: 60px;
}

.livo-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/livo.82ffe818546639a8c97b86ac9bed2935.svg);
    width: 60px;
    height: 60px;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pp p {
    font-size: 9px;
    color: var(--grey);
}

.pp a {
    font-size: 9px;
    color: var(--grey);
    text-decoration: underline;
}

.rights p {
    font-size: 9px;
    color: var(--grey);
} */

/* .crumb-filter {
    padding-top: 50px;
    background-color: var(--white);
}

.crumb-nav {
    display: flex;
    position: relative;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item  {
    color: var(--light-grey);
    font-weight: 600;
    font-size: 11px;
}

.breadcrumb-item a {
    color: var(--light-grey);
}

.breadcrumb-item+.breadcrumb-item::before {
    background-image: url(https://www.mymarket.ge/react/build/static/media/breadcrumbs-icon.0e8fc01e5d18cbb6529f.svg);
    content: '';
    padding: 5px 4px;
    margin: 0 5px;
}

.article-numb {
    display: inline-block;
    font-size: 10px;
    color: #007aff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 12px;
}

.select-area {
    float: unset;
    margin: 0;
    position: absolute;
    top: 0;
    right: 30px;  
}

.form-control {
    cursor: pointer;
    font-size: 12px;
    color: var(--grey);
    padding: 15px 10px;
    border-radius: 10px;
    background-color: transparent;
}

.form-control option {
    font-size: 12px;
    border-bottom: 10px;
}

select.form-control:not([size]):not([multiple]) {
    height: 45px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fec900;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 204, 88, 0.25);
}

.search-help {
    padding: 50px;
}

.filter-area {
    background-color: var(--white);
    border-radius: 15px;
    padding: 30px;
}

.filter-area .filter-header h5 {
    font-size: 13px;
    font-weight: 600;
}

.filter-header {
    padding: 10px;
    border-bottom: 1px solid #8996ae36;
}

.content-header a {
    color: #4a6cfa;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.content-header {
    margin: 10px 0;
}

.filter-list {
    padding: 0 20px;
    color: #8996ae36;
}

.filter-list li {
    margin-bottom: 10px;
}

.filter-list li a {
    color: var(--dark);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.filter-list li a:hover {
    color: #4a6cfa;
}

.products {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
}

.product-image .prod-vip {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 8px;
    color: var(--white);
    padding: 5px 7px;
    background-color: #0ec604;
    border-radius: 10px;
}

.person-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/user-icon-card.0289954a82ca7a2b4f2f.svg);
    display: inline-block;
    vertical-align: middle;
}

.product-info .person {
    color: var(--light-grey);
    font-size: 10px;
}

.product-info h6 a {
    color: var(--dark);
    text-decoration: none;
    font-size: 13px;
    margin: 10px 0;
    display: inline-block;
    transition: .3s;
}

.product-info h6 a:hover {
    color: #4a6cfa;
}

.product-info p {
    color: var(--light-grey);
    font-size: 10px;
}

.product-info {
    border-right: 1px solid #8996ae36;
}

.price-info {
    position: relative;
    padding: 10px;
}

.price-info h6 {
    text-align: right;
    font-size: 13px;
}

.price-info .favorites {
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.price-info .favorites:hover {
    background-color: #fec900;
}

.favorites-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/favorites.ddc5f0d17826b7ad7507.svg);
}

button:focus {
    outline: none;
    outline: none;
}

.filter-box-2 {
    padding: 20px;
}

.filter-box-2 .select-area {
    position: relative;
    padding: 0 10px;
}


.filter-box-2 h5 {
    font-size: 13px;
    margin-bottom: 15px;
}

.radio-filter {
    margin: 20px;
}

.radio-header h6 {
    font-size: 13px;
    margin-bottom: 20px;
}


.radio-input .input {
    display: none;
}


.radio-input .d-flex {
    margin: 5px;
}

.radio-input label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}


.radio-input .input:checked + label::before {
    background-color: #ffc107;
    border-color: #ffc107; 
}


.radio-input label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fec900;
    border-radius: 50%; 
    margin-right: 5px;
}


.radio-input2 .input {
    display: none;
}


.radio-input2 .d-flex {
    margin: 5px;
}

.radio-input2 label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}


.radio-input2 .input:checked + label::before {
    background-color: #ffc107;
    border-color: #ffc107; 
}


.radio-input2 label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fec900;
    border-radius: 50%; 
    margin-right: 5px;
}

.radio-input3 .input {
    display: none;
}


.radio-input3 .d-flex {
    margin: 5px;
}

.radio-input3 label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}


.radio-input3 .input:checked + label::before {
    background-color: #ffc107;
    border-color: #ffc107; 
}


.radio-input3 label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fec900;
    border-radius: 50%; 
    margin-right: 5px;
}


.price-input {
    margin: 20px;
}

.price-box input{
    width: 80%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #8996ae36;
}

input:focus-visible {
    outline: none;
}

.object {
    margin: 20px;
}

.object label {
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
}


.page-item:first-child .page-link {
    margin-right: 10px;
    border-radius: 10px;
}

.page-item:last-child .page-link {
    margin-left: 10px;
    border-radius: 10px;
}

.page-link {
    margin-left: 8px;
    border-radius: 8px;
    color: #fec900;
    border: 1px solid #f1dd92;
}

.page-link:hover {
    color: #fec900;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #f1dd92;
} */

/* .single-product {
    padding: 30px 0;
    background-color: var(--white);
}

.product-img {
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #1d32e44f;
}

.product-img img {
    border-radius: 15px;
    position: relative;
}

.span-vip {
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 50px;
    border-radius: 15px;
    padding: 4px 8px;
    background-color: #4a6cfa;
    color: var(--white);
    font-size: 10px;
}

.img-fav-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/favorites.2b63a48b7604ad9a4b10.svg);
    position: absolute;
    top: 13px;
    right: 20px;
    width: 28px;
    height: 24px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6969ff66;
}

.views-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/views.51b33132eb53e4cbaf3a.svg);
    width: 25px;
    height: 20px;
}

.date-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/pr-add-time.45607e38bf1a5516778b.svg);
    width: 25px;
    height: 20px;
}

.top-info span {
    font-size: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.product-title {
    padding: 20px 0;   
    border-bottom: 1px solid #8996ae36;
}

.product-title h2 {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.product-title h2:hover {
    color: #4a6cfa;
}

.author-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/User.b3d376f4efd73cdee375.svg);
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
}

.number-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/call.6fbb03144e57b3748e07.svg);
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
}

.mail-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/message.52f23553e538e9c7edd8.svg);
}

.author-info {
    padding: 20px 0;
    border-bottom: 1px solid #8996ae36;
}

.author-name span{
    background-color: #80808026;
    display: inline-block;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    padding: 4px 7px;
    font-size: 10px;
    margin-bottom: 10px;
}

.author-name p {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 600;
}

.author-name p.grey {
    color: var(--light-grey);
}

.author-number {
    display: flex;
    align-items: center;
}

.number-box {
    font-size: 10px;
}

.number-box span {
    display: flex;
    border: 1px solid #6969ff66;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.number-box span p {
    margin-left: 10px;
    margin-top: 13px;
    font-weight: 100;
    color: #4a6cfa;
}

.number-box p{
    display: inline-block;
}

.mail-icon {
    margin-left: 4px;
    border: 1px solid #8996ae30;
    padding: 17px;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
}

.mail-icon:hover {
    background-color: #8996ae96;
}

.product-text {
    padding: 20px 0;
}

.product-text p {
    margin-bottom: 2px;
    font-size: 11px;
    color: lightslategray;
}

.product-text p.bold {
    font-weight: 600;
    color: var(--dark);
}

.product-text a {
    display: inline-block;
    margin-top: 5px;
    font-size: 10px;
    color: #4a6cfa;
    text-decoration: none;
    font-weight: 600;
}

.price-box2 {
    padding: 20px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: -3px 15px 20px 7px #0000001f;
}

.price-box2 h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.price-box2 p {
    margin-top: 10px;
    text-align: center;
    background-color: #4a6cfa2b;
    border-radius: 10px;
    padding: 10px;
    color: #1313dba6;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.price-box2 p:hover {
    background-color: #4a6dfa3f;
}

.single-offer {
    background-color: var(--white);
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
}

.single-offer .offer-img img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.similiar-products {
    padding: 50px 0;
}

.similiar-title {
    margin-bottom: 20px;
}

.similiar-title h5 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.offer-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/user-icon-card.0289954a82ca7a2b4f2f.svg);
    display: inline-block;
}

.fav-i {
    background-image: url(https://www.mymarket.ge/react/build/static/media/favorites.2b63a48b7604ad9a4b10.svg);
    display: inline-block;
    margin: 8px;
}

.fav-icon {
    float: right;
    background-color: #80808038;
    border-radius: 14px;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.fav-icon:hover {
    background-color: #fec900;
}

.offer-content {
    border-bottom: 1px solid #00000033;
}

.offer-content span {
    font-size: 13px;
    color: var(--light-grey);
    margin-bottom: 20px;
    display: inline-block;
}

.offer-content p {
    font-size: 12px;
    font-weight: 600;
}

.offer-price {
    padding-top: 10px;
}

.offer-price .price {
    font-weight: 600;
    font-size: 12px;
}

.btn-menu {
    background-image: url(https://www.mymarket.ge/react/build/static/media/menu.2fb4abdc9f2e9ce566c2.svg);
    height: 25px;
    width: 25px;
}
 */




/* 
#vip-card-area {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch;
    align-items: center;
}


.single-vip img.vip-pictures {
    height: 120px!important;
    width: 150px!important;
}


#vip-card-area::-webkit-scrollbar {
    display: none; 
}



.round-pics {
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.single-round {
    flex: 0 0 auto;
    width: 160px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    width: 190px;
}




.vip-card-area {
    white-space: nowrap; 
    overflow-x: auto;   
}

.single-vip {
    display: inline-block;
    vertical-align: top; 
    margin-right: 20px;  
}

.single-vip img.swipe-pics {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.swiper-container2 {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.swiper-slide2 {
    width: 300px; 
    margin: 0 10px;
    display: inline-block;
}





.shop-imgs {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    height: 215px;
}

#shop-img-area {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scrollbar-width: none; 
    -webkit-overflow-scrolling: touch;

}

#shop-img-area::-webkit-scrollbar {
    display: none; 
}

.single-img {
    flex: 0 0 auto;
    margin-right: 21px; 
    white-space: normal;
}


.below-pics {
    text-align: center;
}


.crsl-single-pic {
    text-align: center;
    overflow: hidden; 
}

img {
    max-width: 100%;
    height: auto;
} */

/* .wrapper::-webkit-scrollbar {
    width: 3px;
}

.wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.wrapper::-webkit-scrollbar-thumb {
    background: #bebbbb; 
    border-radius: 20px
}

.wrapper::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
} */

















/* @media screen and (max-width: 768px) {

    .carousel-area {
        width: 100%;
        padding: 20px; 
    }

    .carousel {
        max-width: 100%;
        height: auto;
    }

    .crsl-img {
        position: relative;
    }

    .carousel-inner {
        width: 100%;
    }

    .carousel-item {
        text-align: center;
    }

    .crs-img {
        max-width: 100%;
        height: auto;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%; 
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-image: none;
    }

    .sidebar {
        display: none;
    }

    .resp-block {
        display: block;
    }

    .resp-none {
        display: none;
    }

    .header-top ul.navbar-nav {
        display: none;
    }

    .svg-icon img {
        display: none;
    }

    .max-width-md-170px {
        max-width: 170px!important;
    }

    .w-md-380px {
        width: 380px!important;
    }

    .pr-md-0, .px-md-0 {
        padding-right: 0!important;
    }

    .pl-md-0, .px-md-0 {
        padding-left: 0!important;
    }


    .hide-header {
        display: block;
      }

      .carousel-area {
        margin-left: 0;
        width: 100%;
      }

      .below-pics .row {
        flex-wrap: nowrap;
      }

      .carousel-control-prev {
        display: none;
      }

      .carousel-control-next {
        display: none;
      }

      .below-pics {
        background-color: var(--white);
        margin-top: 20px;
        padding: 0;
      }

      .trade-info .begin {
        width: 100%;
        text-align: center;
      }

      .trade-img {
        margin-top: 10px;
      }

      .cards {
        display: flex;
        padding: 10px;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .card-area {
        margin-bottom: 15px;
    }

    .buy-process {
        display: flex;
        flex-direction: column;
    }

    .sale-info {
        text-align: center;
        margin-bottom: 20px;
    }

    .sale-info .info-title {
        font-weight: 600;
    }

    .mrg-top {
        margin-top: 20px;
    }

    .policy-terms {
        flex-direction: column;
        align-items: flex-start;
    }

    .drop-blue {
    margin: 10px 0;
    padding: 10px 0;
    }

    .drop-blue .nav-link {
        padding: 0;
    }

    footer {
        padding-bottom: 100px;
    }

    .copy {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
    }

    .lang-drop {
        position: absolute;
        top: 10px!important;
    }

    .book-img img {
        margin-bottom: 10px;
        height: 230px;
        object-fit: cover;
        border-radius: 20px;
    }

    .for-resp {
        flex: 0 0 25%; 
        max-width: 25%;
        padding: 2px; 
        box-sizing: border-box;
 
    }

    .language-content {
        padding-top: 20px;
        margin-bottom: 126px;
    }

    .language-content li {
        display: block;
    }

    .language-content li button {
        margin-bottom: 10px;
        width: 100%;
    }

    .wrapper {
        overflow-y: scroll ;
        
    }

    .wrapper ul {
        width: 100%;
    }

      
}


@media screen and (max-width: 1000px) and (min-width: 768px) {


    .wrapper {
        overflow-y: scroll ;
    }

    .wrapper ul {
        width: 100%;
    }

    .language-content li {
        display: block;
    }

    .language-content li button {
        margin-bottom: 10px;
        width: 100%;
    }

    .language-content {
        padding-top: 20px;
        margin-bottom: 126px;
    }

    .for-resp {
    flex: 0 0 25%; 
    max-width: 25%;
    padding: 2px; 
    box-sizing: border-box;

}

    .book-img img {
        margin-bottom: 10px;
        height: 271px;
        object-fit: cover;
        border-radius: 20px;
    }

    .lang-drop {
        position: absolute;
        top: 10px!important;
    }

    .copy {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
    }

    footer {
        padding-bottom: 100px;
    }

    .drop-blue {
        margin: 10px 0;
        padding: 10px 0;
        }
    
        .drop-blue .nav-link {
            padding: 0;
        }

    .policy-terms {
        flex-direction: column;
        align-items: flex-start;
    }

    .mrg-top {
        margin-top: 20px;
    }

    .sale-info {
        text-align: center;
        margin-bottom: 20px;
    }

    .sale-info .info-title {
        font-weight: 600;
    }

    .card-area {
        margin-bottom: 15px;
    }

    .cards {
        display: flex;
        padding: 10px;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .trade-img {
        margin-top: 10px;
      }

    .trade-info .begin {
        width: 100%;
        text-align: center;
      }

    .below-pics {
        background-color: var(--white);
        margin-top: 20px;
        padding: 0;
      }

    .carousel-area {
        width: 100%;
        padding: 20px; 
    }

    .carousel {
        max-width: 100%;
        height: auto;
    }

    .crsl-img {
        position: relative;
    }

    .carousel-inner {
        width: 100%;
    }

    .carousel-item {
        text-align: center;
    }

    .crs-img {
        max-width: 100%;
        height: auto;
    }



    .carousel-control-prev {
        display: none;
      }

      .carousel-control-next {
        display: none;
      }
    .below-pics .row {
        flex-wrap: nowrap;
      }

    .carousel-area {
        margin-left: 0;
        width: 100%;
      }

    .sidebar {
        display: none;
    }


    .resp-none {
        display: none;
    }

    .header-top ul.navbar-nav {
        display: none;
    }

    .svg-icon img {
        display: none;
    }


    .hide-header {
        display: block;
      }

      .resp-block {
        display: block;
    }
}
 */
